<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mental Health Journal</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/journal">My Journal</a>
        <a href="/entries">Past Entries</a>
        <a href="/affirmations">Daily Affirmation</a>
        <a href="/logout">Logout</a>
    </div>
      

	<h1>My Journal </h1>
    <p> Your personal space for reflection, positivity, and growth.</p>
    

    <form action="/journal" method="post">
		<fieldset>
            <legend>New Journal Entry</legend>
			<label><strong>Title: </strong><input type="text" name="title" required></label>
			<label><strong>Date: </strong><input type="date" name="date" required></label><br><br>
            <datalist id="item-options">
                <option value="happy"><option value="excited"><option value="calm"><option value="grateful">
                <option value="optimistic"><option value="sad"><option value="anxious"><option value="angry">
                <option value="overwhelmed"><option value="lonely"><option value="stressed"><option value="tired">
                <option value="bored"><option value="creative"></option><option value="motivated">
            </datalist>
            <label><strong>Mood: </strong><input type="text" name="mood" list="item-options" required></label><br><br>
            <strong>Entry:</strong><br>
            <label><textarea rows="5" cols="80" name="entry" required></textarea></label>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Entry" onclick="window.confirm('Are you sure you want to submit your entry?')"/>
    </form>
</body>

</html>