<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mental Health Journal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/journal">My Journal</a>
        <a href="/entries">Past Entries</a>
        <a href="/affirmations">Daily Affirmation</a>
        <a href="/logout">Logout</a>
    </div>
	<h1>Affirmative Journal </h1>
    <div class="container">
        <h3>Welcome <%- name %> </h3>
        <p> Your daily companion for reflection, positivity, and personal growth. This space is designed to help you track your thoughts, explore your emotions, and receive uplifting affirmations to boost your day. Whether you're looking to reflect on your feelings, jot down your thoughts, or simply take a moment for yourself, this journal is here for you.</p>

    <h3>How it Works</h3>
    <ol>
        <li>Write a journal entry to express your thoughts, feelings, or anything that’s on your mind.</li>
        <li>Look back at past entries to reflect on your progress and journey.</li>
        <li>Receive an affirmation to help boost your mood and keep you motivated.</li>
    </ol>
    </div>
    <div class="button-container">
        <button type="submit" onclick="window.location.href='/journal'">Go to My Journal</button>
    </div>
</body>

</html>