<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mental Health Journal</title>
    <link rel="stylesheet" href="/css/style3.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/journal">My Journal</a>
        <a href="/entries">Past Entries</a>
        <a href="/affirmations">Daily Affirmation</a>
        <a href="/logout">Logout</a>
    </div>
      

	<h1>Today's Entry</h1>
	<div class="entry-display">
		<strong>Title: </strong><%- title %><br>
		<strong>Date: </strong><%- date %><br>
		<strong>Mood: </strong><%- mood %><br>
        <strong>Entry: </strong><%- entry %><br>
		<hr>
        <strong>Task Completed at 
            <div id="display"></div>
        </strong>
        <script>
            document.querySelector("#display").textContent = new Date();
        </script>
	</div>
</body>

</html>