<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mental Health Journal</title>
    <link rel="stylesheet" href="/css/style5.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/journal">My Journal</a>
        <a class="active" href="/entries">Past Entries</a>
        <a href="/affirmations">Daily Affirmation</a>
        <a href="/logout">Logout</a>
    </div>
      
    <p> Entries deleted. </p>

    <div class="button-container"></div>
        <button onclick="window.location.href='/entries'">Back to Entries</button>
    </div>
  
</body>

</html>